.gif-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(143, 221, 221);
}

.gif{
    width: 300px;
    padding: 10px;
    margin: 5px;
    background-color: rgb(183, 164, 140);
}